<link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
 <br>
<h3> <%= @post.title %> </h3> 
 <%= image_tag @post.image.url(:medium) if @post.image? %> 
<br><br> 
<%= simple_format @post.body %> 
  <p> <%= post_footer(@post) %> </p>

  <p><small>Tags: <%= raw @post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small</p>
